version: "3.9"

services:
  api:
    container_name: applydigital_api
    build: .
    restart: always
    env_file:
      - .env.docker
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  mongo:
    image: mongo:6
    container_name: applydigital_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
